<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="footer">
    <div id="divFooter" class="footerArea">
        <div class="container">

            <div class="row-fluid">
                <div class="col-lg-8">
                    <p class="copyright">
                        Copyright © 2018 | Powered by Tuno
                    </p>

                    <p class="social_bookmarks">
                        <a href="https://www.facebook.com/tuno.nguyen.bee.m.07032016"><i class="social foundicon-facebook"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

