<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thống kê vượt giờ</title>
        <meta name="description" content="spring-boot thymeleaf | giangDay ">
            <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header-admin :: header-admin"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="giangDay">
                <div class="content-container clearfix">
                    <div class="row">
                        <div class="row">
                            <h3 class="text-center">Chi tiết giảng viên(Giảng dạy)</h3>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="collapse navbar-collapse col-sm-6" id="bs-example-navbar-collapse">
                            <ul class="nav navbar-nav navbar-center">
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic(objectId=${objectId})}">
                                        Tổng hợp
                                    </a>
                                </li>                
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic/giangDay(objectId=${objectId})}">
                                        Giảng dạy
                                    </a>
                                </li>                
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic/hdTotNghiep(objectId=${objectId})}">
                                        Hướng dẫn đồ án
                                    </a>
                                </li>                
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic/NCKH(objectId=${objectId})}">
                                        Nghiên cứu khoa học
                                    </a>
                                </li>                
                            </ul>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <span class="help-block"></span>
                    <div th:if="${success}"
                         class="row alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:text="${success}"></span>
                    </div>
                    <div class="row">
                        <a th:href="@{/giangVien/{objectId}/statistic/giangDay/create(objectId=${objectId})}" class="btn btn-success pull-left">
                            <span class="glyphicon glyphicon-plus"></span> Thêm giảng dạy
                        </a>
                    </div>
                    <span class="help-block"></span>
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table width='100px' class="table table-bordered table-hover table-striped table-responsive">
                                    <thead>
                                        <tr class="btn-info">
                                            <th width="5%" class="text-center">STT</th>
                                            <th width="30%" class="text-center">Tên môn học</th>
                                            <th width="8%" class="text-center">ĐVHT/TC</th>
                                            <th width="10%" class="text-center">Lớp</th>
                                            <th width="10%" class="text-center">Khóa ĐT</th>
                                            <th width="10%" class="text-center">Số tiết QC</th>
                                            <th width="11%" class="text-center">Tiết thực giảng</th>
                                            <th class="text-center">Sửa</th>
                                            <th class="text-center">Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${#lists.isEmpty(giangDays)}" class="btn-default">
                                            <td colspan="12" align="center">Không có thông tin hiển thị!!!</td>
                                        </tr>
                                        <tr th:each="giangDay,iterStat : ${giangDays}">
                                            <td class="text-center" width='5%' th:text="${iterStat.count}"></td>
                                            <td th:text="${giangDay.tenMon}"></td>
                                            <td class="text-center" th:text="${giangDay.dvhtTc}"></td>
                                            <td class="text-center" th:text="${giangDay.lop}"></td>
                                            <td class="text-center" th:text="${giangDay.khoaDt}"></td>
                                            <td class="text-center" th:text="${giangDay.soTietQc}"></td>
                                            <td class="text-center" th:text="${giangDay.tietTg}"></td>
                                            <td class="text-center" width='5%'>
                                                <a th:href="@{/giangVien/{objectId}/statistic/giangDay/{id}/edit(id=${giangDay.id},objectId=${objectId})}"><span
                                                        class="glyphicon glyphicon-pencil"></span></a></td>
                                            <td class="text-center" width='5%'><a data-toggle="modal" data-target="#modal-toTrash"
                                                                                  th:attr="data-target='#modal-toTrash'+${giangDay.id}">
                                                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                          data-placement="top" title="Xóa"></span></a></td>
                                            <!--Popup Xóa -->
                                            <div class="modal modal-toTrash" th:id="modal-toTrash+${giangDay.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="error-text"><strong>Bạn chắc chắn muốn xóa?</strong></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a th:href="@{/giangVien/{objectId}/statistic/giangDay/{id}/delete(id=${giangDay.id},objectId=${objectId})}">
                                                                <span class="btn btn-danger" value="delete">Xóa</span></a>
                                                            <button class="btn " data-dismiss="modal" aria-hidden="true">
                                                                Hủy
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--        <footer>
                    <div class="separator" th:replace="fragments/footer :: footer">&copy; 2018 Tuno</div>
                </footer>-->
        <script>
            $('#modal-toTrash').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

            $('#modal-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

        </script>
    </body>
</html>