<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thống kê vượt giờ</title>
        <meta name="description" content="spring-boot thymeleaf | hdTotNghiep ">
            <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header-admin :: header-admin"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="hdTotNghiep">
                <div class="content-container clearfix">
                    <div class="row">
                        <div class="row">
                            <h3 class="text-center">Chi tiết giảng viên(HD tốt nghiệp)</h3>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="collapse navbar-collapse col-sm-4" id="bs-example-navbar-collapse">
                            <ul class="nav navbar-nav navbar-center">
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic(objectId=${objectId})}">
                                        Tổng hợp
                                    </a>
                                </li>                
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic/giangDay(objectId=${objectId})}">
                                        Giảng dạy
                                    </a>
                                </li>                
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic/hdTotNghiep(objectId=${objectId})}">
                                        Hướng dẫn đồ án
                                    </a>
                                </li>                
                                <li >
                                    <a class="btn icon-btn " th:href="@{/giangVien/{objectId}/statistic/NCKH(objectId=${objectId})}">
                                        Nghiên cứu khoa học
                                    </a>
                                </li>                
                            </ul>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                    <span class="help-block"></span>
                    <div th:if="${success}"
                         class="row alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span th:text="${success}"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">

                            <form  action="#" class=""
                                   th:action="@{/giangVien/{objectId}/statistic/hdTotNghiep/search(objectId=${objectId})}" method="GET">
                                <div class="row row-space">
                                    <div class="col-md-5 text-right">
                                        <label>Năm học</label>
                                    </div>
                                    <div class="col-md-4 col-form-control">
                                        <select name="namHoc" class="form-control">
                                            <option th:each="entry : ${namHocMap.entrySet()}"
                                                    th:value="${entry.key}"
                                                    th:utext="${entry.value}"
                                                    th:selected="${namHocNay==entry.key}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="float-right btn-send">
                                    <button type="submit" class="btn btn-success btn-custom">Tìm kiếm</button>
                                    <a th:href="@{/giangVien/{objectId}/statistic/hdTotNghiep/create(objectId=${objectId})}" class="btn btn-success">
                                        <span class="glyphicon glyphicon-plus"></span> Thêm hướng dẫn đồ án
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3"></div>

                    </div>
                    <span class="help-block"></span>
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table width='100px' class="table table-bordered table-hover table-striped table-responsive">
                                    <thead>
                                        <tr class="btn-info">
                                            <th width="5%" class="text-center">STT</th>
                                            <th width="30%" class="text-center">Họ tên sinh viên</th>
                                            <th width="8%" class="text-center">Khóa đào tạo</th>
                                            <th width="10%" class="text-center">Số người HD</th>
                                            <th width="10%" class="text-center">Số tiết quy đổi</th>
                                            <th class="text-center">Sửa</th>
                                            <th class="text-center">Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${#lists.isEmpty(hdTotNghieps)}" class="btn-default">
                                            <td colspan="12" align="center">Không có thông tin hiển thị!!!</td>
                                        </tr>
                                        <tr th:each="hdTotNghiep,iterStat : ${hdTotNghieps}">
                                            <td class="text-center" width='5%' th:text="${iterStat.count}"></td>
                                            <td class="text-center" th:text="${hdTotNghiep.tenSv}"></td>
                                            <td class="text-center" th:text="${hdTotNghiep.khoaDt}"></td>
                                            <td class="text-center" th:text="${hdTotNghiep.soNguoitHd}"></td>
                                            <td class="text-center" th:text="${hdTotNghiep.soTietQd}"></td>
                                            <td class="text-center" width='5%'>
                                                <a th:href="@{/giangVien/{objectId}/statistic/hdTotNghiep/{id}/edit(id=${hdTotNghiep.id},objectId=${objectId})}"><span
                                                        class="glyphicon glyphicon-pencil"></span></a></td>
                                            <td class="text-center" width='5%'><a data-toggle="modal" data-target="#modal-toTrash"
                                                                                  th:attr="data-target='#modal-toTrash'+${hdTotNghiep.id}">
                                                    <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                          data-placement="top" title="Xóa"></span></a></td>
                                            <!--Popup Xóa -->
                                            <div class="modal modal-toTrash" th:id="modal-toTrash+${hdTotNghiep.id}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="error-text"><strong>Bạn chắc chắn muốn xóa?</strong></p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a th:href="@{/giangVien/{objectId}/statistic/hdTotNghiep/{id}/delete(id=${hdTotNghiep.id},objectId=${objectId})}">
                                                                <span class="btn btn-danger" value="delete">Xóa</span></a>
                                                            <button class="btn " data-dismiss="modal" aria-hidden="true">
                                                                Hủy
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--        <footer>
                    <div class="separator" th:replace="fragments/footer :: footer">&copy; 2018 Tuno</div>
                </footer>-->
        <script>
            $('#modal-toTrash').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

            $('#modal-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

        </script>
    </body>
</html>