<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Giảng viên</title>
        <meta name="description" content="spring-boot thymeleaf | nckh-form ">
            <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header-admin :: header-admin"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="compose">
                <div class="container">
                    <div class="content-container clearfix">
                        <div class="row">
                            <h3 style="color: blue;" class="text-center">Thêm/sửa nghiên cứu khoa học</h3>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <form action="#" th:action="@{/giangVien/{objectId}/statistic/NCKH/save(objectId=${objectId})}" th:object="${nckh}"
                                      method="POST" >
                                    <input type="hidden" th:field="*{id}" />

                                    <div class="form-group">
                                        <label>Nội dung Nghiên cứu khoa học</label> 
                                        <input type="text" class="form-control"
                                               th:field="*{noiDung}" placeholder=" " />   
                                    </div>

                                    <div class="form-group">
                                        <label>Số tiết thực hiện</label> 
                                        <input type="number" class="form-control"
                                               th:field="*{soTietThucHien}" />   
                                    </div>

                                    <div class="form-group">
                                        <label>Số tiết chưa thực hiện</label> 
                                        <input type="number" class="form-control"
                                               th:field="*{soTietChuaThucHien}" />   
                                    </div>

                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </form>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </div>
        <!--    <footer th:replace="layout :: footer"></footer>-->
    </body>
</html>