<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thống kê vượt giờ</title>
        <meta name="description" content="spring-boot thymeleaf | giangDay ">
            <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header-admin :: header-admin"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="giangDay">
                <div class="content-container clearfix">
                    <div class="row">
                        <h3 class="text-center">Chào mừng đến với hệ thống quản lý vượt giờ</h3>
                    </div>
                    <span class="help-block"></span>
                    
                    
                    <span class="help-block"></span>
                    
                    <div class="row">
<!--                        <a th:href="@{/edit}" class="btn btn-success pull-center">
                            <span class="glyphicon glyphicon-plus"></span> Đổi mật khẩu
                        </a>-->
                    </div>
                    <span class="help-block"></span>

                </div>
            </div>
        </div>

    </body>
</html>