<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thống kê vượt giờ</title>
        <meta name="description" content="spring-boot thymeleaf | user-tongHop ">
            <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="user-tongHop">
                <div class="content-container clearfix">
                    <div class="row">
                        <div class="row">
                            <h3 class="text-center">Chi tiết giảng viên(Tổng hợp)</h3>
                        </div>
                    </div>
                    <span class="help-block"></span>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">

                            <form  action="#" class=""
                                   th:action="@{/user-tongHop/search}" method="GET">
                                <div class="row row-space">
                                    <div class="col-md-5 text-right">
                                        <label>Năm học</label>
                                    </div>
                                    <div class="col-md-4 col-form-control">
                                        <select name="namHoc" class="form-control">
                                            <option th:each="entry : ${namHocMap.entrySet()}"
                                                    th:value="${entry.key}"
                                                    th:utext="${entry.value}"
                                                    th:selected="${namHocNay==entry.key}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="float-right btn-send">
                                    <button type="submit" class="btn btn-success btn-custom">Tìm kiếm</button>
                                    <a th:href="@{/user-tongHop/exportWord}" class="btn btn-success pull-center">
                                        <span class="fa fa-file-word-o"></span> Xuất báo cáo
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <span class="help-block"></span>
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <table width='100px' class="table table-bordered table-hover table-striped table-responsive">
                                    <thead>
                                        <tr class="btn-info">
                                            <th width="5%" class="text-center">STT</th>
                                            <th class="text-center">Tổng số tiết thực hiện</th>
                                            <th class="text-center">Số tiết phải giảng</th>
                                            <th class="text-center">Số giờ chưa hoàn thành NCKH</th>
                                            <th class="text-center">Số tiết dạy được giảm trừ</th>
                                            <th class="text-center">Tổng số tiết thanh toán</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:if="${#lists.isEmpty(tongHops)}" class="btn-default">
                                            <td colspan="12" align="center">Không có thông tin hiển thị!!!</td>
                                        </tr>
                                        <tr th:each="tongHop,iterStat : ${tongHops}">
                                            <td class="text-center" width='5%' th:text="${iterStat.count}"></td>
                                            <td class="text-center" th:text="${tongHop.tongSoTiet}"></td>
                                            <td class="text-center" th:text="${tongHop.soTietPhaiGiang}"></td>
                                            <td class="text-center" th:text="${tongHop.soTietChuaHTNCKH}"></td>
                                            <td class="text-center" th:text="${tongHop.soTietGiamTru}"></td>
                                            <td class="text-center" th:text="${tongHop.soTietThanhToan}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--        <footer>
                    <div class="separator" th:replace="fragments/footer :: footer">&copy; 2018 Tuno</div>
                </footer>-->
        <script>
            $('#modal-toTrash').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

            $('#modal-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

        </script>
    </body>
</html>