<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thống kê vượt giờ</title>
        <meta name="description" content="spring-boot thymeleaf | user-NCKH ">
            <div th:replace="fragments/header :: header-css"></div>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="tab-content">
            <div class="tab-pane active" id="user-NCKH">
                <div class="container">
                    <div class="content-container clearfix">
                        <div class="row">
                            <h3 class="text-center">Chi tiết giảng viên(Nghiên cứu khoa học)</h3>
                        </div>

                        <span class="help-block"></span>
                        <div th:if="${success}"
                             class="row alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span th:text="${success}"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">

                                <form  action="#" class=""
                                       th:action="@{/user-NCKH/search}" method="GET">
                                    <div class="row row-space">
                                        <div class="col-md-5 text-right">
                                            <label>Năm học</label>
                                        </div>
                                        <div class="col-md-4 col-form-control">
                                            <select name="namHoc" class="form-control">
                                                <option th:each="entry : ${namHocMap.entrySet()}"
                                                        th:value="${entry.key}"
                                                        th:utext="${entry.value}"
                                                        th:selected="${namHocNay==entry.key}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="float-right btn-send">
                                        <button type="submit" class="btn btn-success btn-custom">Tìm kiếm</button>
                                        <a th:href="@{/user-NCKH/create}" class="btn btn-success">
                                            <span class="glyphicon glyphicon-plus"></span> Thêm nghiên cứu khoa học
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-3"></div>

                        </div>
                        <span class="help-block"></span>
                        <div class="row">
                            <div class="panel panel-info">
                                <div class="panel-body">
                                    <table class="table table-bordered  table-striped table-responsive">
                                        <thead>
                                            <tr class="btn-info">
                                                <th width="5%" class="text-center">STT</th>
                                                <th width="30%" class="text-center">Nội dung</th>
                                                <th width="20%" class="text-center">Số tiết thực hiện</th>
                                                <th class="text-center">Số tiết chưa thực hiện</th>
                                                <th class="text-center">Sửa</th>
                                                <th class="text-center">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:if="${#lists.isEmpty(nckhs)}" class="btn-default">
                                                <td colspan="6" align="center">Không có thông tin hiển thị!!!</td>
                                            </tr>
                                            <tr th:each="nckh,iterStat : ${nckhs}">
                                                <td class="text-center" width='5%' th:text="${iterStat.count}"></td>
                                                <td class="text-center" th:text="${nckh.noiDung}"></td>
                                                <td class="text-center" th:text="${nckh.soTietThucHien}"></td>
                                                <td class="text-center" th:text="${nckh.soTietChuaThucHien}"></td>
                                                <td class="text-center" width='5%'>
                                                    <a th:href="@{/user-NCKH/{id}/edit(id=${nckh.id})}"><span
                                                            class="glyphicon glyphicon-pencil"></span></a></td>
                                                <td class="text-center" width='5%'><a data-toggle="modal" data-target="#modal-toTrash"
                                                                                      th:attr="data-target='#modal-toTrash'+${nckh.id}">
                                                        <span class="glyphicon glyphicon-trash" data-toggle="tooltip"
                                                              data-placement="top" title="Xóa"></span></a></td>
                                                <!--Popup Xóa -->
                                                <div class="modal modal-toTrash" th:id="modal-toTrash+${nckh.id}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-hidden="true">×
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="error-text"><strong>Bạn chắc chắn muốn xóa?</strong></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a th:href="@{/user-NCKH/{id}/delete(id=${nckh.id})}">
                                                                    <span class="btn btn-danger" value="delete">Xóa</span></a>
                                                                <button class="btn " data-dismiss="modal" aria-hidden="true">
                                                                    Hủy
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!--        <footer>
                    <div class="separator" th:replace="fragments/footer :: footer">&copy; 2018 Tuno</div>
                </footer>-->
        <script>
            $('#modal-toTrash').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

            $('#modal-delete').on('show.bs.modal', function (e) {
                $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
                $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
            });

        </script>
    </body>
</html>